<html>
  <head>
    	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    	<script src="static/js/script.js"></script>
   		<title>FINANCE|NLPCORE</title>
  	</head>
	<body>
   		<form  action="{{ url_for('save') }}" method="POST">
  			<label for="fundname">Fund's name: </label>
  			<input id="fundname" name="fundname" type="text" value="{{ saves.get('fundname', '') }}">
  			<label for="filetype">&nbsp; &nbsp; Filing type: </label>
          <input type="checkbox" id="filetype" name="filetype" value="N-CSR">N-CSR
          <input type="checkbox" id="filetype" name="filetype" value="N-CSRS">N-CSRS
        <label for="start_date">&nbsp; &nbsp; From: </label>
        <input type="text" class = "datepicker" name="start_date"  value="{{ saves.get('start_date', '') }}">
  			 <label for="end_date">To:</label>
      		<input type="text" class = "datepicker" name="end_date"  value="{{ saves.get('end_date', '') }}">&nbsp;
   	    	<input type="submit" value="SEARCH">
      </form>
      <br><br><br>
  </body>
</html>